@page
@model ErrorModel
@section InnerStyles {
	<style> html { text-align: center; } </style>
}
@section HeadAddition {
	<meta name="robots" content="noindex" />
}
@section Header {
	<h1>发生了错误！</h1>
}
<h2>在请求过程中发生了错误，请<a href="/web/contact" title="联系站长">联系站长</a>处理。</h2>
@if (Model.ShowRequestId) {<div><span>请求 ID：</span><span>@Model.RequestId</span></div>}